<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="/about">About</a></li>
</ul>
<div class="box" id="heading">
  <h1>Todo List ({{ itemCounter }})</h1>
</div>

<div class="box">
  <!-- <% newListItems.forEach(function (item) { %> -->
  <form>
    <div class="item">
      <input
        type="text"
        placeholder="Enter a task"
        name="taskText"
        [(ngModel)]="projectText"
      />
      <!-- <p><%= item.name %></p> -->
      <button type="submit" (click)="addItem()">+</button>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>" />
  </form>

  <div class="box">
    <p class="item" *ngFor="let item of projects; let i=index">{{ item }}<button (click)="removeItem(i)">-</button></p>

  </div>

  <!-- <form class="item" action="/" method="post">
    <input
      type="text"
      name="newItem"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="list" value="<%= listTitle %> ">+</button>
  </form> -->
</div>
