<div class="box" id="heading">
  <h1>Todo List ({{ model.items.length }})</h1>
</div>

  <div>
    <table>
      <tr>
        <th>Index</th>
        <th>Task</th>
        <th>Done</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let item of model.items; let i = index">
        <td>{{ i + 1 }}</td>
        <td class="item">
          {{ item.action }}
        </td>
        <td [ngSwitch]="item.done">
          <input type="checkbox" [(ngModel)]="item.done">
        </td>
        <td [ngSwitch]="item.done">
          <span *ngSwitchCase="true">Yes</span>
          <span *ngSwitchCase="false">No</span>
        </td>
        <td><button (click)="sendEvent(i)">-</button></td>
      </tr>
    </table>
  </div>

